

/* Header Styles */
h1 {
    background-image: url("../images/christmas_background.jpg");
}

#main {
    padding: 1em;
}

#par1, #par2, #par3 {
    padding-bottom: 1em;
    padding-top: 1em;
}

img {
    padding: 0em 1em;
}